@model IEnumerable<CzadRoom.ViewModels.PublicRoomViewModel>
@using Microsoft.AspNetCore.Http

<h3>Hello! Your random name is: @Context.Session.GetString("Nickname")</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientCount)
                </td>
                <td>
                    @Html.ActionLink("Join", "Room", new { roomID = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

