@model IEnumerable<CzadRoom.ViewModels.ChatRoomViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateRoom">Create New</a>
</p>
<div id="dialogBox">
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientCount)
                </td>
                <td>
                    @if (item.HasPassword) {
                        <span class="glyphicon glyphicon-lock" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Join", "JoinRoom", new { roomID = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

